	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/02/2016 12:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon";
    src: url("./fonts/flaticon.svg#Flaticon") format("svg");
  }
}*/

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  vertical-align: baseline;
}

.flaticon-bigmug-line-1-54176:before { content: "\f100"; }
.flaticon-bigmug-line-10-54222:before { content: "\f101"; }
.flaticon-bigmug-line-100-54577:before { content: "\f102"; }
.flaticon-bigmug-line-101-54589:before { content: "\f103"; }
.flaticon-bigmug-line-102-54593:before { content: "\f104"; }
.flaticon-bigmug-line-103-54598:before { content: "\f105"; }
.flaticon-bigmug-line-104-54600:before { content: "\f106"; }
.flaticon-bigmug-line-105-54618:before { content: "\f107"; }
.flaticon-bigmug-line-106-54623:before { content: "\f108"; }
.flaticon-bigmug-line-107-54624:before { content: "\f109"; }
.flaticon-bigmug-line-108-54628:before { content: "\f10a"; }
.flaticon-bigmug-line-109-54631:before { content: "\f10b"; }
.flaticon-bigmug-line-11-54223:before { content: "\f10c"; }
.flaticon-bigmug-line-110-54633:before { content: "\f10d"; }
.flaticon-bigmug-line-111-54637:before { content: "\f10e"; }
.flaticon-bigmug-line-112-54652:before { content: "\f10f"; }
.flaticon-bigmug-line-113-54653:before { content: "\f110"; }
.flaticon-bigmug-line-114-54661:before { content: "\f111"; }
.flaticon-bigmug-line-115-54662:before { content: "\f112"; }
.flaticon-bigmug-line-116-54663:before { content: "\f113"; }
.flaticon-bigmug-line-117-54666:before { content: "\f114"; }
.flaticon-bigmug-line-118-54667:before { content: "\f115"; }
.flaticon-bigmug-line-119-54668:before { content: "\f116"; }
.flaticon-bigmug-line-12-54226:before { content: "\f117"; }
.flaticon-bigmug-line-120-54670:before { content: "\f118"; }
.flaticon-bigmug-line-121-54676:before { content: "\f119"; }
.flaticon-bigmug-line-122-54689:before { content: "\f11a"; }
.flaticon-bigmug-line-123-54692:before { content: "\f11b"; }
.flaticon-bigmug-line-124-54695:before { content: "\f11c"; }
.flaticon-bigmug-line-125-54696:before { content: "\f11d"; }
.flaticon-bigmug-line-126-54701:before { content: "\f11e"; }
.flaticon-bigmug-line-127-54702:before { content: "\f11f"; }
.flaticon-bigmug-line-128-54725:before { content: "\f120"; }
.flaticon-bigmug-line-129-54728:before { content: "\f121"; }
.flaticon-bigmug-line-13-54233:before { content: "\f122"; }
.flaticon-bigmug-line-130-54731:before { content: "\f123"; }
.flaticon-bigmug-line-131-54735:before { content: "\f124"; }
.flaticon-bigmug-line-132-54741:before { content: "\f125"; }
.flaticon-bigmug-line-133-54748:before { content: "\f126"; }
.flaticon-bigmug-line-134-54754:before { content: "\f127"; }
.flaticon-bigmug-line-135-54755:before { content: "\f128"; }
.flaticon-bigmug-line-136-54759:before { content: "\f129"; }
.flaticon-bigmug-line-137-54761:before { content: "\f12a"; }
.flaticon-bigmug-line-138-54763:before { content: "\f12b"; }
.flaticon-bigmug-line-139-54764:before { content: "\f12c"; }
.flaticon-bigmug-line-14-54240:before { content: "\f12d"; }
.flaticon-bigmug-line-140-54771:before { content: "\f12e"; }
.flaticon-bigmug-line-141-54773:before { content: "\f12f"; }
.flaticon-bigmug-line-142-54774:before { content: "\f130"; }
.flaticon-bigmug-line-143-54776:before { content: "\f131"; }
.flaticon-bigmug-line-144-54778:before { content: "\f132"; }
.flaticon-bigmug-line-145-54780:before { content: "\f133"; }
.flaticon-bigmug-line-146-54781:before { content: "\f134"; }
.flaticon-bigmug-line-147-54784:before { content: "\f135"; }
.flaticon-bigmug-line-148-54785:before { content: "\f136"; }
.flaticon-bigmug-line-149-54791:before { content: "\f137"; }
.flaticon-bigmug-line-15-54245:before { content: "\f138"; }
.flaticon-bigmug-line-150-54795:before { content: "\f139"; }
.flaticon-bigmug-line-151-54796:before { content: "\f13a"; }
.flaticon-bigmug-line-152-54801:before { content: "\f13b"; }
.flaticon-bigmug-line-153-54805:before { content: "\f13c"; }
.flaticon-bigmug-line-154-54810:before { content: "\f13d"; }
.flaticon-bigmug-line-155-54816:before { content: "\f13e"; }
.flaticon-bigmug-line-156-54817:before { content: "\f13f"; }
.flaticon-bigmug-line-157-54821:before { content: "\f140"; }
.flaticon-bigmug-line-158-54822:before { content: "\f141"; }
.flaticon-bigmug-line-159-54825:before { content: "\f142"; }
.flaticon-bigmug-line-16-54247:before { content: "\f143"; }
.flaticon-bigmug-line-160-54826:before { content: "\f144"; }
.flaticon-bigmug-line-161-54828:before { content: "\f145"; }
.flaticon-bigmug-line-162-54831:before { content: "\f146"; }
.flaticon-bigmug-line-163-54833:before { content: "\f147"; }
.flaticon-bigmug-line-164-54835:before { content: "\f148"; }
.flaticon-bigmug-line-165-54836:before { content: "\f149"; }
.flaticon-bigmug-line-166-54838:before { content: "\f14a"; }
.flaticon-bigmug-line-167-54848:before { content: "\f14b"; }
.flaticon-bigmug-line-168-54850:before { content: "\f14c"; }
.flaticon-bigmug-line-169-54852:before { content: "\f14d"; }
.flaticon-bigmug-line-17-54258:before { content: "\f14e"; }
.flaticon-bigmug-line-170-54859:before { content: "\f14f"; }
.flaticon-bigmug-line-171-54860:before { content: "\f150"; }
.flaticon-bigmug-line-172-54862:before { content: "\f151"; }
.flaticon-bigmug-line-173-54867:before { content: "\f152"; }
.flaticon-bigmug-line-174-54868:before { content: "\f153"; }
.flaticon-bigmug-line-175-54870:before { content: "\f154"; }
.flaticon-bigmug-line-176-54871:before { content: "\f155"; }
.flaticon-bigmug-line-177-54874:before { content: "\f156"; }
.flaticon-bigmug-line-178-54886:before { content: "\f157"; }
.flaticon-bigmug-line-179-54887:before { content: "\f158"; }
.flaticon-bigmug-line-18-54260:before { content: "\f159"; }
.flaticon-bigmug-line-180-54889:before { content: "\f15a"; }
.flaticon-bigmug-line-181-54891:before { content: "\f15b"; }
.flaticon-bigmug-line-182-54895:before { content: "\f15c"; }
.flaticon-bigmug-line-183-54896:before { content: "\f15d"; }
.flaticon-bigmug-line-184-54897:before { content: "\f15e"; }
.flaticon-bigmug-line-185-54898:before { content: "\f15f"; }
.flaticon-bigmug-line-186-54905:before { content: "\f160"; }
.flaticon-bigmug-line-187-54909:before { content: "\f161"; }
.flaticon-bigmug-line-188-54916:before { content: "\f162"; }
.flaticon-bigmug-line-189-54918:before { content: "\f163"; }
.flaticon-bigmug-line-19-54262:before { content: "\f164"; }
.flaticon-bigmug-line-190-54919:before { content: "\f165"; }
.flaticon-bigmug-line-191-54920:before { content: "\f166"; }
.flaticon-bigmug-line-192-54921:before { content: "\f167"; }
.flaticon-bigmug-line-193-54922:before { content: "\f168"; }
.flaticon-bigmug-line-194-54923:before { content: "\f169"; }
.flaticon-bigmug-line-195-54936:before { content: "\f16a"; }
.flaticon-bigmug-line-196-54937:before { content: "\f16b"; }
.flaticon-bigmug-line-197-54938:before { content: "\f16c"; }
.flaticon-bigmug-line-198-54947:before { content: "\f16d"; }
.flaticon-bigmug-line-199-54950:before { content: "\f16e"; }
.flaticon-bigmug-line-2-54178:before { content: "\f16f"; }
.flaticon-bigmug-line-20-54266:before { content: "\f170"; }
.flaticon-bigmug-line-200-54951:before { content: "\f171"; }
.flaticon-bigmug-line-201-54952:before { content: "\f172"; }
.flaticon-bigmug-line-202-54959:before { content: "\f173"; }
.flaticon-bigmug-line-203-54966:before { content: "\f174"; }
.flaticon-bigmug-line-204-54967:before { content: "\f175"; }
.flaticon-bigmug-line-205-54972:before { content: "\f176"; }
.flaticon-bigmug-line-206-54974:before { content: "\f177"; }
.flaticon-bigmug-line-207-54975:before { content: "\f178"; }
.flaticon-bigmug-line-208-54980:before { content: "\f179"; }
.flaticon-bigmug-line-209-54982:before { content: "\f17a"; }
.flaticon-bigmug-line-21-54269:before { content: "\f17b"; }
.flaticon-bigmug-line-210-54983:before { content: "\f17c"; }
.flaticon-bigmug-line-211-54985:before { content: "\f17d"; }
.flaticon-bigmug-line-212-54993:before { content: "\f17e"; }
.flaticon-bigmug-line-213-55001:before { content: "\f17f"; }
.flaticon-bigmug-line-214-55002:before { content: "\f180"; }
.flaticon-bigmug-line-215-55007:before { content: "\f181"; }
.flaticon-bigmug-line-216-55009:before { content: "\f182"; }
.flaticon-bigmug-line-217-55011:before { content: "\f183"; }
.flaticon-bigmug-line-218-55025:before { content: "\f184"; }
.flaticon-bigmug-line-219-55037:before { content: "\f185"; }
.flaticon-bigmug-line-22-54271:before { content: "\f186"; }
.flaticon-bigmug-line-23-54277:before { content: "\f187"; }
.flaticon-bigmug-line-24-54290:before { content: "\f188"; }
.flaticon-bigmug-line-25-54293:before { content: "\f189"; }
.flaticon-bigmug-line-26-54295:before { content: "\f18a"; }
.flaticon-bigmug-line-27-54296:before { content: "\f18b"; }
.flaticon-bigmug-line-28-54301:before { content: "\f18c"; }
.flaticon-bigmug-line-29-54303:before { content: "\f18d"; }
.flaticon-bigmug-line-3-54191:before { content: "\f18e"; }
.flaticon-bigmug-line-30-54310:before { content: "\f18f"; }
.flaticon-bigmug-line-31-54311:before { content: "\f190"; }
.flaticon-bigmug-line-32-54318:before { content: "\f191"; }
.flaticon-bigmug-line-33-54321:before { content: "\f192"; }
.flaticon-bigmug-line-34-54324:before { content: "\f193"; }
.flaticon-bigmug-line-35-54325:before { content: "\f194"; }
.flaticon-bigmug-line-36-54328:before { content: "\f195"; }
.flaticon-bigmug-line-37-54331:before { content: "\f196"; }
.flaticon-bigmug-line-38-54332:before { content: "\f197"; }
.flaticon-bigmug-line-39-54337:before { content: "\f198"; }
.flaticon-bigmug-line-4-54192:before { content: "\f199"; }
.flaticon-bigmug-line-40-54338:before { content: "\f19a"; }
.flaticon-bigmug-line-41-54342:before { content: "\f19b"; }
.flaticon-bigmug-line-42-54343:before { content: "\f19c"; }
.flaticon-bigmug-line-43-54345:before { content: "\f19d"; }
.flaticon-bigmug-line-44-54346:before { content: "\f19e"; }
.flaticon-bigmug-line-45-54351:before { content: "\f19f"; }
.flaticon-bigmug-line-46-54361:before { content: "\f1a0"; }
.flaticon-bigmug-line-47-54362:before { content: "\f1a1"; }
.flaticon-bigmug-line-48-54363:before { content: "\f1a2"; }
.flaticon-bigmug-line-49-54370:before { content: "\f1a3"; }
.flaticon-bigmug-line-5-54198:before { content: "\f1a4"; }
.flaticon-bigmug-line-50-54372:before { content: "\f1a5"; }
.flaticon-bigmug-line-51-54373:before { content: "\f1a6"; }
.flaticon-bigmug-line-52-54374:before { content: "\f1a7"; }
.flaticon-bigmug-line-53-54381:before { content: "\f1a8"; }
.flaticon-bigmug-line-54-54382:before { content: "\f1a9"; }
.flaticon-bigmug-line-54174:before { content: "\f1aa"; }
.flaticon-bigmug-line-55-54383:before { content: "\f1ab"; }
.flaticon-bigmug-line-56-54391:before { content: "\f1ac"; }
.flaticon-bigmug-line-57-54392:before { content: "\f1ad"; }
.flaticon-bigmug-line-58-54405:before { content: "\f1ae"; }
.flaticon-bigmug-line-59-54407:before { content: "\f1af"; }
.flaticon-bigmug-line-6-54204:before { content: "\f1b0"; }
.flaticon-bigmug-line-60-54408:before { content: "\f1b1"; }
.flaticon-bigmug-line-61-54409:before { content: "\f1b2"; }
.flaticon-bigmug-line-62-54418:before { content: "\f1b3"; }
.flaticon-bigmug-line-63-54427:before { content: "\f1b4"; }
.flaticon-bigmug-line-64-54431:before { content: "\f1b5"; }
.flaticon-bigmug-line-65-54433:before { content: "\f1b6"; }
.flaticon-bigmug-line-66-54437:before { content: "\f1b7"; }
.flaticon-bigmug-line-67-54439:before { content: "\f1b8"; }
.flaticon-bigmug-line-68-54441:before { content: "\f1b9"; }
.flaticon-bigmug-line-69-54443:before { content: "\f1ba"; }
.flaticon-bigmug-line-7-54206:before { content: "\f1bb"; }
.flaticon-bigmug-line-70-54446:before { content: "\f1bc"; }
.flaticon-bigmug-line-71-54447:before { content: "\f1bd"; }
.flaticon-bigmug-line-72-54448:before { content: "\f1be"; }
.flaticon-bigmug-line-73-54451:before { content: "\f1bf"; }
.flaticon-bigmug-line-74-54455:before { content: "\f1c0"; }
.flaticon-bigmug-line-75-54456:before { content: "\f1c1"; }
.flaticon-bigmug-line-76-54460:before { content: "\f1c2"; }
.flaticon-bigmug-line-77-54467:before { content: "\f1c3"; }
.flaticon-bigmug-line-78-54469:before { content: "\f1c4"; }
.flaticon-bigmug-line-79-54481:before { content: "\f1c5"; }
.flaticon-bigmug-line-8-54213:before { content: "\f1c6"; }
.flaticon-bigmug-line-80-54484:before { content: "\f1c7"; }
.flaticon-bigmug-line-81-54486:before { content: "\f1c8"; }
.flaticon-bigmug-line-82-54492:before { content: "\f1c9"; }
.flaticon-bigmug-line-83-54493:before { content: "\f1ca"; }
.flaticon-bigmug-line-84-54505:before { content: "\f1cb"; }
.flaticon-bigmug-line-85-54507:before { content: "\f1cc"; }
.flaticon-bigmug-line-86-54509:before { content: "\f1cd"; }
.flaticon-bigmug-line-87-54510:before { content: "\f1ce"; }
.flaticon-bigmug-line-88-54512:before { content: "\f1cf"; }
.flaticon-bigmug-line-89-54517:before { content: "\f1d0"; }
.flaticon-bigmug-line-9-54221:before { content: "\f1d1"; }
.flaticon-bigmug-line-90-54523:before { content: "\f1d2"; }
.flaticon-bigmug-line-91-54524:before { content: "\f1d3"; }
.flaticon-bigmug-line-92-54532:before { content: "\f1d4"; }
.flaticon-bigmug-line-93-54538:before { content: "\f1d5"; }
.flaticon-bigmug-line-94-54541:before { content: "\f1d6"; }
.flaticon-bigmug-line-95-54544:before { content: "\f1d7"; }
.flaticon-bigmug-line-96-54547:before { content: "\f1d8"; }
.flaticon-bigmug-line-97-54561:before { content: "\f1d9"; }
.flaticon-bigmug-line-98-54565:before { content: "\f1da"; }
.flaticon-bigmug-line-99-54573:before { content: "\f1db"; }