@font-face {
  font-family: alien;
  src: url("../fonts/alienleaguebold.ttf");
}
 html {
    margin:0;
}

body {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.logo-image {
	width: 250px;
	height: 45px;
    position: relative;
    margin-left: 20px;
    opacity: 0.4;
    margin-top: 15px;
}
.logo-image:hover {
    opacity: 0.9;
    cursor: pointer;
}
.center-align {
    text-align: center;
}
.top-gap{
		height: 50vh;
		display: block;
		z-index: 1;
		/*margin-top: 30%;  */
	}
.q-head{
		width: 35%;
		min-width:400px;
		margin-bottom: 10px;
		opacity: 0.8;
	}
.button {
    border: none;
    color: white;
    z-index: 1;
    padding: 2px 15px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.Gamebutton {
    background-color: transparent;
    color: #BDAE91;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    display: inline-block;
    margin: 0 auto;
    font: 30px alien;
    min-width: 100px;
    min-height: 30px;
}
.Gamebutton:hover {
  background-color: #e7e7e7;
  color: black;
}
.allGame {
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    display: block;
    margin: 0 auto;
}
.button3 {
	font: 26px Lato;
	background-color: #e7e7e7;
    font-weight: 900;
	opacity: 0.5;
    border: none;
    color: black;
    padding:0 75px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
	font-size: 25px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.button3:hover {
  background-color:white ;
  color: black;
  opacity: 0.9; 
}
